<md-dialog flex="50">
	<md-toolbar class="md-accent">
		<div class="md-toolbar-tools"><h2>Create/Join Conference</h2></div>
	</md-toolbar>
	<md-dialog-content layout-padding>
		<md-content layout-padding layout="row" layout-xs="column">
			<div flex-gt-xs="50">
				Create conference
				<form name="con" layout="column">
					<md-input-container>
						<label>Conference Name</label>
						<input name="conferenceName" ng-model="conference.name" autofocus ng-pattern="/^[a-zA-Z0-9]*-*$/">
						<div ng-messages="con.conferenceName.$error">
							<div ng-message="pattern">You can only use alphanumeric names</div>
						</div>
					</md-input-container>
					<md-button type="submit" ng-click="closeDialog()" 
            class="md-primary md-raised" ng-disabled="!conference.name">
						Ok
					</md-button>
				</form>
			</div>
			<div hide-xs class="vertical-partition"></div>
			<div flex-gt-xs="50">
				Join conference
				<md-content flex class="max-height-200">
					<md-list flex>
						<md-list-item class="md-3-line fade" ng-repeat="activeConference in activeConferences | orderBy : '[]': true" 
							ng-click="joinConference(activeConference)">
							<md-button class="md-raised md-fab md-primary z-index-0" disabled>
								<md-icon class="material-icons">group_add</md-icon>
							</md-button>
							<div class="md-list-item-text" layout="column">
								<h3 class="margin-0">{{activeConference}}</h3>
							</div>
						</md-list-item>
						<md-list-item class="md-3-line fade" ng-if="activeConferences.length == 0">
							<div class="md-list-item-text" layout="column" layout-padding>
								<h3 class="margin-0">No conferences found online.</h3>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
			</div>
		</md-content>
	</md-dialog-content>
</md-dialog>
