body {
	background: url(https://d1x2efl61akomv.cloudfront.net/images/bg/background_overlay.de59fa2e.png) 0% 0%/auto padding-box border-box,url(../images/back.jpg) no-repeat 50% 50%/cover padding-box border-box;
    background-size: auto,cover;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	  display: none !important;
}

.margin-0 {
	margin: 0px !important;
}

.fade {
	-webkit-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 1000ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.fade.ng-enter {
	opacity: 0;
	max-height:0;
}

.fade.ng-enter.ng-enter-active {
	opacity: 1;
	max-height:30px;
}

.fade.ng-leave {
	opacity: 1;
	max-height:30px;
}

.fade.ng-leave.ng-leave-active {
	opacity: 0;
	max-height:0px;
}

.position-fixed {
	position: fixed !important;
}

.padding-5 {
	padding: 5px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-100 {
	padding-top: 100px;
}

.z-index-0 {
	z-index: 0 !important;
}

.overflow-y-scroll {
	overflow-y: scroll !important; 
}

.calculationForm label, .calculationForm input 
, .calculationForm .md-text, .calculationForm .md-select-icon
, .calculationForm h1{
	color: white !important;
}

md-select-value.md-select-value {
	min-width: 40px;
}

.note {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background: #fff;
	opacity: 0.7;
	margin: 30px;
	height: 100px;
	padding: 10px;
}

.green-background:after {
    content: '';
	background-color: green;
    display: block;
    margin-left: 1px;
    height: 100%;
	width: 8px;
	box-shadow: 7px 0px 5px green;
    position: absolute;
    left: -11px;
    top: 0px;
}

#video-containers {
	text-align: center;
}

#remote-video {
	text-align: center;
}

video {
	max-width: 100%;
	height: auto;
}

.video-type {
	background: white;
	padding: 3px;
	border-radius: 5px;
}

md-backdrop.md-opaque {
	opacity: 1;
}

.max-height-200 {
	max-height: 200px;
}

.conference-cover > .md-subheader-inner {
	padding: 5px;
}

.vertical-partition {
	border-left: #DCD7D7 1px solid;
	margin-left: 15px;
}

.mirrior-feed {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
