<html ng-app="Conference">
    <head>
		<title>Online-chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/custom.css">
    </head>
    <body ng-controller="ChatCtrl" layout="column" ng-cloak>
		<md-toolbar class="md-accent" layout>
			<div class="md-toolbar-tools">
				<h2>
					<md-icon show-md show-lg hide-xs hide-sm aria-label="Menu" class="material-icons">group</md-icon>
					<md-icon hide-md hide-lg show-xs show-sm aria-label="Menu" class="material-icons" ng-click="showSideBar()">menu</md-icon>
					<span flex>Conference <span ng-if="currentConference">></span> {{currentConference}}</span>
				</h2>
				<md-button ng-if="!$mdMedia('xs')" href="https://bitbucket.org/uday-r/material-chat-app">
					<md-icon class="material-icons">code</md-icon>
					code
				</md-button>
				<div flex ng-if="!$mdMedia('xs')">
				</div>
				<md-button ng-if="!$mdMedia('xs')" ng-click="changeConference()">Logout</md-button>
				<md-menu ng-if="$mdMedia('xs')">
					<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
						<md-icon class="material-icons">group</md-icon>
					</md-button>
					<md-menu-content>
						<md-menu-item>
							<md-button href="https://bitbucket.org/uday-r/material-chat-app">Source code</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-click="changeConference()">Logout</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-sidenav hide-lg class="md-sidenav-left" 
			md-component-id="left"
			md-disable-backdrop="true"
			md-whiteframe="4">
			<div ng-include src="'/onlineCalCulations.html'"></div>
		</md-sidenav>
		<div flex="100" layout="row" layout-xs="column"  layout-sm="column" layout-padding>
			<div flex="80" flex-sm="50" flex-xs="50" layout="row" layout-align="center">
				<div id="video-containers" class="flex-100">
			 	</div>
				<!--<md-whiteframe class="md-whiteframe-1dp note">-->
					<!--Tested for Browsers: Google Chrome Version 50<br/>-->
					<!--Mobile: Resposive for most of the devices.-->
				<!--</md-whiteframe>-->
			</div>
			<div layout="column" flex="20" 
				hide-xs hide-sm 
				ng-include src="'/onlineCalCulations.html'">
			</div>
		</div>
		<script type="text/ng-template" id="/onlineCalCulations.html">
				<md-toolbar class="md-accent">
					<h2 class="md-toolbar-tools">
						<md-icon show-md show-lg hide-xs hide-sm aria-label="Menu" class="material-icons">group</md-icon>
						<md-icon hide-md hide-lg show-xs show-sm aria-label="Menu" class="material-icons" ng-click="hideSideBar()">menu</md-icon>
						<span flex>Conferences</span>
					</h2>
				</md-toolbar>
				<md-content flex class="overflow-y-scroll">
					<md-list flex>
						<md-subheader class="md-hue-1" ng-if="activeConferences.length > 0">Online conferences</md-subheader>
						<md-subheader class="md-hue-1" ng-if="activeConferences.length == 0">No conferences found online.</md-subheader>
						<md-list-item class="md-3-line fade" ng-class="{'green-background': activeConference == currentConference}"
							ng-repeat="activeConference in activeConferences | orderBy : '[]': true" ng-click="joinConference(activeConference)">
							<md-button class="md-raised md-fab md-primary z-index-0" disabled>
								<md-icon class="material-icons">group_add</md-icon>
							</md-button>
							<div class="md-list-item-text" layout="column">
								<h3 class="margin-0">{{activeConference}}</h3>
							</div>
						</md-list-item>
					</md-list>
				</md-content>
		</script>
		
		
		
		
		
		
		<!-- Libraries -->
        <script src="js/lib/socket/socket.io-1.4.5.js"></script>

        <script src="js/lib/latest.js"></script>

        <script src="js/lib/angular/angular.js"></script>
        <script src="js/lib/angular/angular-animate.js"></script>
        <script src="js/lib/angular/angular-aria.js"></script>
        <script src="js/lib/angular/angular-messages.js"></script>
        <script src="js/lib/angular/angular-route.js"></script>
        <script src="js/lib/angular/angular-sanitize.js"></script>

        <script src="js/lib/angular-material/angular-material.js"></script>

        <!-- Developer's javascript -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/ChatCtrl.js"></script>
		
        <!-- Services -->
        <script src="js/services/SocketService.js"></script>
        <script src="js/services/WebrtcService.js"></script>
        <script src="js/services/LoadingService.js"></script>

    </body>
</html>
